<div class="row" style="min-height: 60%; margin-top: 3cm;">
    <div class="col-12 m-2">
    <mat-card class="cambioclave" style="margin-left: auto; margin-right: auto; height: 50%;">
        <mat-card-header class="nom">
          <mat-card-title>Cambio de contraseña.</mat-card-title>
        </mat-card-header>       
        <mat-card-subtitle class="nom">Si olvidaste tu contraseña, ingresa tu correo y recibirás el formulario para cambiarla.</mat-card-subtitle>
        <mat-card-content>
            <form class="cambioclave">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="ejemplo@alu.uct.cl">
                </mat-form-field>              
                <button mat-button class="primary">Enviar Correo</button>
              </form>
        </mat-card-content>
    
      </mat-card>
    </div>
</div>