
<div class="row" style="min-height: 60%; margin-top: 3cm; margin-bottom: 0cm;">
    <div class="col-12 m-2">
    <mat-card class="cartabusquedas" style="margin-left: auto; margin-right: auto; height: 50%;">
        <mat-card-header class="nom">
            <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Busquedas</mat-card-title>
        </mat-card-header>       
        <mat-card-content>
            <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Busqueda de material">
                </div>
              </form>
        </mat-card-content>
    
      </mat-card>
    </div>
</div>
<mat-card class="cartabusquedas">
<div class="resultados">
    <mat-icon>expand_more</mat-icon>
    <p>Aquí va el resultado de las busquedas (DESARROLLO...)   </p>
</div>
</mat-card>