<div class="row" style="min-height: 100%;">
    <div class="col-2 mt-auto mb-auto">
    </div>
    <div class="col-8 mt-auto mb-auto">
    <mat-card class="cartalogin" style="margin-left: auto; margin-right: auto;" >
        <mat-card-header >
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>  
          <p class="nom">
            UTILIZAR CREDENCIALES PARA INGRESAR.
          </p> 
            <form class="Formulario">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Marcelo Morales">
                  </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="ejemplo@alu.uct.cl">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Carrera</mat-label>
                <input matInput placeholder="ing civil inf">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="Contraseña">
              </mat-form-field>
              
              <button mat-button class="primary">Registrarse</button>           
            </form>
               
    
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-2 mt-auto mb-auto"></div>
    </div>
