
<div class="row" style="min-height: 100%;">
<div class="col-3 mt-auto mb-auto">
</div>
<div class="col-6 mt-auto mb-auto">
<mat-card class="cartalogin" style="margin-left: auto; margin-right: auto;" >
    <mat-card-header >
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>  
      <p class="nom">
        UTILIZAR CREDENCIALES PARA INGRESAR.
      </p> 
        <form class="Formulario">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. Pizza" value="ejemplo@alu.uct.cl">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ex. Pizza" value="******">
          </mat-form-field>
          <button mat-button class="primary">Iniciar Sesion</button>
        </form>
       
    </mat-card-content>
    
    <mat-card-actions>       
        <a href = "register">
            <button mat-button class="primary">Register</button>
           </a>    
           <a href = "recuperarcontra">
            <button mat-button class="primary">¿Olvidaste tu contraseña?</button>
           </a>         
    </mat-card-actions>
  </mat-card>
</div>
<div class="col-3 mt-auto mb-auto"></div>
</div>