    
<div class="row">
    <mat-toolbar>
        <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>
            <button mat-menu-item>
                <mat-icon>account_circle</mat-icon>
                <span>Perfil</span>
              </button>
            <button mat-menu-item>
              <mat-icon>list</mat-icon>
              <span>Lista</span>
            </button>
          </mat-menu>
        <span>App ejemplo</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>